---
import styles from "./uvodo-work.module.scss";
---

<div class={styles.uvodoWork}>
  <section>
    <div class={styles.title}>
      <h2>How does the Uvodo work?</h2>
      <p>
        It's our mission to help you build superior online shopping experiences,
        fast and easy, with best-in-class technology.
      </p>
    </div>

    <div class={styles.uvodoWorkSteps}>
      <a href="/" class={styles.uvodoWorkStep}>
        <span>01</span>

        <div class={styles.description}>
          <h3>Connect your store</h3>
          <p>
            Connect your store to Uvodo and start using our API to get your
            products, orders, and customers.
          </p>
        </div>
      </a>
      <a href="/" class={styles.uvodoWorkStep}>
        <span>01</span>

        <div class={styles.description}>
          <h3>Connect your store</h3>
          <p>
            Connect your store to Uvodo and start using our API to get your
            products, orders, and customers.
          </p>
        </div>
      </a>
      <a href="/" class={styles.uvodoWorkStep}>
        <span>01</span>

        <div class={styles.description}>
          <h3>Connect your store</h3>
          <p>
            Connect your store to Uvodo and start using our API to get your
            products, orders, and customers.
          </p>
        </div>
      </a>
    </div>
  </section>
</div>
