---
import { Image } from "@astrojs/image/components";
import ArrowRgiht from "../images/arrow-right.svg";
import Grid from "../images/grid.svg";
import AdminImage from "../images/admin.webp";
import styles from "./Entrance.module.scss";
---

<div class={styles.entrance}>
  <div class={styles.top}>
    <div class={styles.titleSmall}>
      <p>Self-hosted & Headless</p>
      <div class={styles.bg}></div>
    </div>
    <h1>eCommerce building platform</h1>

    <h4>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas in quaerat
      facilis voluptatem magni atque ab minima quis nemo doloribus!
    </h4>
    <p>
      Uvodo is a fully customizable plug & play eCommerce platform for online
      sellers, developers, and agencies.
    </p>
  </div>

  <div class={styles.admin}>
    <div class={styles.imageGrid}></div>

    <div class={styles.btnGroup}>
      <a href="/"
        ><span>Admin demo</span>
        <Image src={ArrowRgiht} alt="Arrow right icon" width={24} height={24} />
      </a>
      <a href="/">Schedule a call</a>
    </div>

    <div class={styles.imageAdmin}>
      <Image src={AdminImage} alt="Admin image" width="" height="" />
    </div>
  </div>
</div>
