---
import DiscordLogo from "@/images/social/discord.astro";
import FacebookLogo from "@/images/social/facebook.astro";
import InstagramLogo from "@/images/social/instagram.astro";
import LinkedinLogo from "@/images/social/linkedin.astro";
import TwitterLogo from "@/images/social/twitter.astro";
import YoutubeLogo from "@/images/social/youtube.astro";
import styles from "./footer.module.scss";
---

<div class={styles.footer}>
  <section>
    <div class={styles.footerTop}>
      <div class={styles.logo}>
        <a href="/">
          <svg
            width="112"
            height="40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><g clip-path="url(#a)" fill="#fff"
              ><path
                d="M20.106 33.468a11.346 11.346 0 0 0 8.098-10.84L28.143 7.43a2.482 2.482 0 0 0-3.239-2.318l-18.17 5.592A2.45 2.45 0 0 0 5 13.036v9.669c.066 7.632 7.653 13.06 15.106 10.763ZM45.26 24.787l-.175.174a4.807 4.807 0 0 1-.511.399 6.011 6.011 0 0 1-.829.511c-.357.172-.73.306-1.115.4a5.596 5.596 0 0 1-1.371.173 5.116 5.116 0 0 1-3.883-1.57 5.878 5.878 0 0 1-1.483-4.215v-7.704h2.757v7.704a3.282 3.282 0 0 0 .905 2.368 3.004 3.004 0 0 0 2.256.941 3.247 3.247 0 0 0 2.507-1.023c.665-.795 1-1.814.936-2.85v-7.16h2.757v13.218H45.26v-1.366ZM54.431 26.158 49.05 12.939h2.895l3.857 9.643 3.863-9.643h2.89l-5.382 13.219h-2.742ZM64.652 14.714a6.614 6.614 0 0 1 4.835-2.046 6.621 6.621 0 0 1 4.839 2.046 6.648 6.648 0 0 1 2.046 4.835 6.61 6.61 0 0 1-2.046 4.829 6.651 6.651 0 0 1-4.84 2.046 6.652 6.652 0 0 1-4.834-2.046 6.61 6.61 0 0 1-2.046-4.83 6.65 6.65 0 0 1 2.046-4.833Zm7.74 1.709a3.872 3.872 0 0 0-2.905-1.279 3.904 3.904 0 0 0-2.911 1.279 4.333 4.333 0 0 0-1.228 3.126 4.332 4.332 0 0 0 1.228 3.125 3.904 3.904 0 0 0 2.91 1.28 3.873 3.873 0 0 0 2.906-1.28 4.333 4.333 0 0 0 1.228-3.125 4.334 4.334 0 0 0-1.248-3.126h.02ZM85.16 12.837c.416.102.817.251 1.198.445.305.152.6.323.885.512.192.131.375.277.547.434l.19.205V6.847h2.757v19.285h-2.758v-1.534c-.122.128-.302.291-.511.511a5.914 5.914 0 0 1-1.458.803 5.59 5.59 0 0 1-2.272.512 6.091 6.091 0 0 1-4.547-2.01 6.809 6.809 0 0 1-1.924-4.876 6.803 6.803 0 0 1 1.924-4.875 6.092 6.092 0 0 1 4.547-2.01c.48.001.958.063 1.423.184Zm1.612 9.827a4.41 4.41 0 0 0 1.207-3.115 4.42 4.42 0 0 0-1.207-3.116 3.72 3.72 0 0 0-2.778-1.289 3.75 3.75 0 0 0-2.788 1.29 4.405 4.405 0 0 0-1.217 3.115 4.394 4.394 0 0 0 1.217 3.115 3.749 3.749 0 0 0 2.788 1.29 3.718 3.718 0 0 0 2.773-1.29h.005ZM94.768 14.714a6.6 6.6 0 0 1 4.834-2.046 6.597 6.597 0 0 1 4.834 2.046 6.614 6.614 0 0 1 2.046 4.835 6.582 6.582 0 0 1-2.046 4.829 6.62 6.62 0 0 1-4.834 2.046 6.616 6.616 0 0 1-4.834-2.046 6.608 6.608 0 0 1-2.047-4.83 6.65 6.65 0 0 1 2.047-4.834Zm7.739 1.709a3.869 3.869 0 0 0-2.905-1.279 3.9 3.9 0 0 0-2.911 1.279 4.338 4.338 0 0 0-1.233 3.126 4.337 4.337 0 0 0 1.233 3.125 3.9 3.9 0 0 0 2.91 1.28 3.873 3.873 0 0 0 2.906-1.28 4.327 4.327 0 0 0 1.223-3.125 4.337 4.337 0 0 0-1.223-3.126Z"
              ></path>
            </g><defs
              ><clipPath id="a"
                ><path
                  fill="#fff"
                  transform="translate(5 5)"
                  d="M0 0h101.487v29H0z"></path>
              </clipPath>
            </defs>
          </svg>
        </a>
        <p class={styles.text}>
          Uvodo allows unlimited customization and development freedom for
          developers.
        </p>
      </div>

      <div class={styles.box}>
        <div>
          <p class={styles.boxTitle}>Product</p>
          <a href="/" class={styles.text}>Features</a>
          <a href="/" class={styles.text}>Pricing</a>
        </div>

        <div>
          <p class={styles.boxTitle}>Company</p>
          <a href="/" class={styles.text}>About us</a>
          <a href="/" class={styles.text}>Blog</a>
        </div>
      </div>

      <div class={styles.box}>
        <div>
          <p class={styles.boxTitle}>Resources</p>
          <a href="/" class={styles.text}>API References</a>
          <a href="/" class={styles.text}>Plugins</a>
          <a href="/" class={styles.text}>Product Roadmap</a>
          <a href="/" class={styles.text}>Feature requests</a>
          <a href="/" class={styles.text}>Bug reports</a>
          <a href="/" class={styles.text}>Changelog</a>
          <a href="/" class={styles.text}>Hide experts</a>
          <a href="/" class={styles.text}>FAQ</a>
        </div>
      </div>

      <div class={styles.box}>
        <div>
          <p class={styles.boxTitle}>Legal</p>
          <a href="/" class={styles.text}>Terms of Service</a>
          <a href="/" class={styles.text}>Privacy Policy</a>
          <a href="/" class={styles.text}>Cookie Policy</a>
          <a href="/" class={styles.text}>Refund Policy</a>
        </div>
      </div>

      <div class={styles.box}>
        <div>
          <p class={styles.boxTitle}>Contact</p>
          <a href="tel:123-456-7890" class={styles.text}>+1 650-614-1826</a>
          <a href="mailto: info@uvodo.com" class={styles.text}>info@uvodo.com</a
          >
        </div>

        <div>
          <p class={styles.boxTitle}>Uvodo HQ</p>
          <p>548 Market St PMB 48572, San Francisco, CA 94104</p>
        </div>
      </div>
    </div>

    <div class={styles.footerBottom}>
      <p class={styles.text}>© UVODO INC. 2022</p>

      <div class={styles.social}>
        <a
          href="https://www.facebook.com/uvodohq"
          target="_blank"
          rel="noreferrer noopener"
          ><FacebookLogo />
        </a>
        <a
          href="https://www.instagram.com/uvodohq/"
          target="_blank"
          rel="noreferrer noopener"
          ><InstagramLogo />
        </a>
        <a
          href="https://twitter.com/uvodohq"
          target="_blank"
          rel="noreferrer noopener"
          ><TwitterLogo />
        </a>
        <a
          href="https://www.linkedin.com/company/uvodohq/"
          target="_blank"
          rel="noreferrer noopener"
          ><LinkedinLogo />
        </a>
        <a
          href="https://www.youtube.com/channel/UCOFgyKJvKoSDL6vNF0YIttA"
          target="_blank"
          rel="noreferrer noopener"
          ><YoutubeLogo />
        </a>
        <a
          href="https://discord.com/login?redirect_to=%2Fchannels%2F1030124418430672906%2F1030124418430672909"
          target="_blank"
          rel="noreferrer noopener"
          ><DiscordLogo />
        </a>
      </div>
    </div>
  </section>
</div>
